

<div class="container visible-md visible-lg " yqbang-user-message="">
    <div class=" row">
        <div style="background-color: #eee;margin-top:2px;display:!important;width:1170px;">
            <a class="pull-right" href="/Message/Index"><span class="fa fa-hand-o-right"></span> 全部消息</a>
            <div>
                <span title="" class="fa fa-calendar" data-original-title="2021年03月07日 10点27分" data-toggle="tooltip" data-placement="bottom"></span>
                <span class="fa fa-thumbs-o-up text-success "></span> 欢迎

                <span title="" data-original-title="" data-toggle="tooltip">
                    <a style="color: #23527c" href="/User/4546" zyf-show-contact="4546">
                        鲤鱼汪
                    </a>
                </span>
                <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-original-title="初级学徒" data-toggle="tooltip">
                    <span>①</span>
                </a>加入“一起帮”！记得完成“新手任务”获得 <b class="iconfont icon-drips water"></b>
                <a class="text-info" href="https://17bang.ren/FAQ/Credit">帮帮点</a>  奖励哟。<span class="text-success">O(∩_∩)O~</span>
            </div>
        </div>
    </div>
</div>



