@page
@model sourcestack1.Pages.Article.SingleModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content=" 快来一起登陆吧" />
</head>
<body>
    <div class="container visible-md visible-lg top-user-message" zyf-user-message="">
        <a class="pull-right" href="/Message/Index"><span class="fa fa-hand-o-right"></span> 全部消息</a>
        <div>
            <span title="" class="fa fa-calendar" data-original-title="2020年11月22日 13点34分" data-toggle="tooltip" data-placement="bottom"></span>
            <span class="fa fa-thumbs-o-up text-success "></span> 欢迎

            <span title="" data-original-title="" data-toggle="tooltip">
                <a href="/User/4515" zyf-show-contact="4515">
                    witbunny
                </a>
            </span>
            <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-original-title="初级学徒" data-toggle="tooltip">
                <span>①</span>
            </a>加入“一起帮”！记得完成“新手任务”获得 <b class="iconfont icon-drips water"></b><a class="text-info" href="http://17bang.ren/FAQ/Credit">帮帮点</a>  奖励哟。<span class="text-success">O(∩_∩)O~</span>
        </div>
    </div>
    <div class="container body-content">
        <div class="row" style="margin-top:55px">
            <div class="col-md-8">
                <img class="img-responsive" style="margin-bottom:20px;" src="/images/BackgroundImage.jpg">
                <h2 class="text-primary ">
                    <span class="fa fa-file-text-o"></span> 48小时学会HTML：VS中第一个Html页面
                </h2>
                <hr>
                <span class="visible-xs-inline visible-sm-inline flag" style="top:60px;">
                    <span class="fa fa-window-restore"></span> 更多
                </span>
                <div>
                    <span>
                        <small class="text-muted" zyf-datetime="">
                            <span>
                                <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年08月20日 11点26分</span>
                            </span>
                        </small>
                    </span>
                    <span class="pull-right">
                        <span zyf-article-arthor="">
                            作者：<a href="/Article/User-1">叶飞</a>
                        </span>
                        <a class="hide" style="margin-left:14px;" href="/Article/Edit/702" data-author-id="1" zyf-article-edit=""><span class="fa fa-pencil-square-o"></span> 修改</a>
                    </span>
                    <div style="clear:both; word-break:break-all; padding-top:20px;">
                        <span><span></span></span>
                        <h3>
                            VS中新建html文件<br>
                        </h3>
                        <p>
                            虽然用记事本就可以写出.html文件，但我们是专业人士。工欲善其事必先利其器，所以接下来我们就需要使用<a href="http://17bang.ren/Article/640" target="_blank">宇宙最强IDE：Visual Studio</a>了。
                        </p>
                        <p>
                            安装完成之后需要<a href="http://17bang.ren/Article/546" target="_blank">创建一个ASP.NET core的Web项目</a>。
                        </p>
                        <p>
                            然后，在其中的wwwroot下添加html文件即可。（<strong>注意：</strong>不要更改wwwroot之外的其他任何内容）
                        </p>
                        <p>
                            <img title="" class="img-responsive" alt="" src="/Images/Attachment/2020/8/20/0330dd8a-25b5-4738-8b8d-b7ccadaa36cb.png" data-original-title="" zyf-img="">
                        </p>
                        <p>
                            暂时我们也不需要理解其中的solution/project等的含义（有好奇心的同学，见：<a href="http://17bang.ren/Article/639">Visual Studio：项目和解决方案</a>）
                        </p>
                        <p>
                            <span></span><strong>注意：</strong><span></span>文件的命名
                        </p>
                        <p>
                            <em>演示：</em>
                        </p>
                        <ul>
                            <li>
                                <em><span></span>新建html文件上右键 - View in Browers</em>
                            </li>
                            <li>
                                <em>修改默认浏览器<span></span></em><br>
                            </li>
                        </ul>
                        <h3>
                            <span></span><br>
                        </h3>
                        <h3>
                            理解开发环境
                        </h3>
                        <p>
                            通过Visual Studio中的ASP.NET项目浏览一个html页面，和在浏览器中打开一个html页面不一样。
                        </p>
                        <p>
                            <img title="" class="img-responsive" alt="" src="http://17bang.ren/Images/Summary/2020/8/20/1/IIS-localhost.png" data-original-title="" zyf-img="">
                        </p>
                        <p>
                            事实上，VS在运行时启动了一个IIS express，在本地模拟了真实的服务器环境（environment），浏览器是连接着这个IIS在运行的！——Visual Studio被称之为IDE，就是因为它自带了这些组件，能够完成这些工作<em>（如果使用VS code需要自己搭建这些环境）</em>。
                        </p>
                        <p>
                            <em>复习：<a href="http://17bang.ren/Article/183" target="_blank">计算机网络</a>，</em>理解：
                        </p>
                        <h4>
                            <br>
                        </h4>
                        <h4>
                            IIS<br>
                        </h4>
                        <p>
                            全称：<strong>I</strong>nternet&nbsp;<strong>I</strong>nformation&nbsp;<strong>S</strong>ervice，是服务器上安装的一个“软件”，这个软件可以响应http请求。
                        </p>
                        <p>
                            类似的应用于Linux的，还有：Apache
                        </p>
                        <p>
                            IIS Express：是Visual Studio内置的IIS演示版，是精简的/用于开发的/迷你的 IIS。
                        </p>
                        <p>
                            <span>因为VS中所有的ASP.NET项目都运行在localhost（本地主机）上，所以VS用随机生成的端口号（port）来区别各个项目。</span>
                        </p>
                        <p>
                            <span style="font-size:12px;">PS：服务器/端口，就类似于： 房子/门窗</span>
                        </p>
                        <p>
                            <em>
                                <br>
                            </em>
                        </p>
                        <p>
                            <em>复习：识别URL<span></span></em>
                        </p>
                        <ul>
                            <li>
                                <em><em><a href="https://localhost:44397/About?id=7&amp;name=zx" rel="nofollow"><em>https://localhost:44397/About?id=7&amp;name=zx</em></a></em></em>
                            </li>
                            <li>
                                <em><em>协议、（顶级/一级/二级）域名、</em><em>端口、</em><em>绝对/相对路径、url参数（query string）</em></em>
                            </li>
                        </ul>
                        <p>
                            <br>
                        </p>
                        <h4>
                            服务器（server）
                        </h4>
                        <p>
                            对外提供“服务”的“机器”（电脑/计算机）。
                        </p>
                        <p>
                            什么是服务？简单的说，就是“功能”，它能干的活，比如：输出网页、发送Email等等。
                        </p>
                        <p>
                            服务器和我们用的电脑有什么区别呢？本质上没有区别。服务器为什么被称为服务器？就像警察被称之为警察一样：
                        </p>
                        <ul>
                            <li>
                                警察也是人，因为从事警察工作，我们就称其为警察
                            </li>
                            <li>
                                服务器也是计算机，因为它用于提供服务，所以我们就称其为服务器
                            </li>
                        </ul>
                        <p>
                            <br>
                        </p>
                        <h4>
                            客户端（client）
                        </h4>
                        以下称呼通常都是通用的：<br>
                        <ul>
                            <li>
                                本地（local）计算机：相对应的就是“远程”计算机
                            </li>
                            <li>
                                客户端（client）：相对应的就是“服务器”。为什么叫“客户端”，因为服务器提供服务嘛，为谁提供服务？不就是为“客户”提供服务么？
                            </li>
                            <li>
                                浏览器（browser）：相对应的就是“IIS”或者以后要学习的ASP.NET运行时。我们会说：这段（JavaScript）代码在浏览器上运行，那段（C#）代码在ASP.NET中运行……
                            </li>
                        </ul>
                        <p>
                            <span>学习HTML，其实就是学习一系列的标记（markup），而标记的核心就是</span>
                        </p>
                        <h3>
                            <span>
                                <br>
                            </span>
                        </h3>
                        <h3>
                            HTML文档结构
                        </h3>
                        <p>
                            VS中生成的html页面为我们提供了一个（HTML5）标准的html文档框架：
                        </p>
<pre class="prettyprint lang-html prettyprinted"><span class="dec">&lt;!DOCTYPE html&gt;</span><span class="pln">
</span><span class="tag">&lt;html&gt;</span><span class="pln">
</span><span class="tag">&lt;head&gt;</span><span class="pln">
</span><span class="tag">&lt;/head&gt;</span><span class="pln">
</span><span class="tag">&lt;body&gt;</span><span class="pln">
&nbsp; &nbsp; </span><span class="com">&lt;!--标题--&gt;</span><span class="pln">
&nbsp; &nbsp; </span><span class="tag">&lt;h1&gt;</span><span class="pln">一起帮·源栈欢迎您！</span><span class="tag">&lt;/h1&gt;</span><span class="pln">
</span><span class="tag">&lt;/body&gt;</span><span class="pln">
</span><span class="tag">&lt;/html&gt;</span></pre>
                        <p>
                            以这种格式组织的html文件被称之为<strong>HTML文档</strong>。严格的说，一个HTML文档才是一个网页。
                        </p>
<pre class="prettyprint lang-html prettyprinted"><span class="dec">&lt;!DOCTYPE html&gt;</span></pre>
                        <p>
                            这被称之为：文档声明。显示这是一个html文档类型（Document Type），这是HTML 5的写法。
                        </p>
                        <p>
                            <span>
                                <br>
                            </span>
                        </p>
                        <p>
                            <span>然后，三个标签：</span>
                        </p>
                        <ul>
                            <li>
                                html：
                            </li>
                            <li>
                                head：头，里面的内容一般不予显示
                            </li>
                            <li>
                                body：正文，由浏览器显示的内容
                            </li>
                        </ul>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                        <h3>
                            <span>
                                <h4>
                                    元素（element）
                                </h4>
                            </span>
                        </h3>
                        <p>
                            <span></span>
                        </p>
                        <p>
                            HTML标记语言的核心就是元素。
                        </p>
                        <p>
                            元素由标签、属性和文本内容组成，比如：
                        </p>
<pre class="prettyprint lang-html prettyprinted"><span class="tag">
    &lt;h1</span><span class="pln"> </span><span class="atn">style</span><span class="pun">=</span>
<span class="atv">"</span><span class="pln">color</span><span class="pun">:</span>
<span class="pln">red</span><span></span><span class="atv">"</span><span></span>
<span class="tag">&gt;</span><span class="pln">一起帮·源栈欢迎您！
     </span><span class="tag">&lt;/h1&gt;</span></pre>
                        <p>
                            其中：
                        </p>
                        <ul>
                            <li>
                                <span>元素（element）：</span>整个这一行就是一个
                            </li>
                            <li>
                                <span><strong>标签（tag）</strong>：</span>h1，又分为&nbsp;<em>开始&nbsp;</em>标签（&lt;h1&gt;）和&nbsp;<em>结束 </em>（&lt;/h1&gt;）标签
                            </li>
                            <li>
                                <strong>文本（text）</strong>：<span>一起帮·源栈欢迎您！，放置在开始标签和结束标签之间</span>
                            </li>
                            <li>
                                <span><strong>属性（attribute）</strong>：</span>style="color:red"，放置在开始标签中，又分为
                            </li>
                            <ol>
                                <li>
                                    属性名：等号（=）左边，style
                                </li>
                                <li>
                                    属性值：等号（=）右边，color:red，用双引号（）括起来。<br>
                                    <span><strong>注意</strong>，这个双引号必须是</span><strong><span style="font-size:16px;">半角</span></strong><span>
                                        的，而且以后我们学习的<span style="font-size:18px;">所有</span>语言，所有的标点符号，都是半角的！<br>
                                    </span>
                                </li>
                            </ol>
                        </ul>
                        <p>
                            <em>演示：依次取消标签和属性之后，页面呈现的变化</em>。
                        </p>
                        <p>
                            <span></span>
                        </p>
                        <h4>
                            <span></span><br>
                        </h4>
                        <h4>
                            元素嵌套
                        </h4>
                        html文档结构就表现出<strong>元素嵌套</strong>的特性，即：一个元素中（html）还可以包含另外一个或若干个元素（head和body）。
                        <p>
                            这是HTML非常重要的一个特性！元素嵌套不仅仅可以为HTML提供丰富呈现，还是（以后我们将要学习的）DOM树的基础。
                        </p>
                        <p>
                            但是，<strong>注意</strong>：元素不能任意嵌套。比如，不能在head中再放入一个body，^_^
                        </p>
                        <p>
                            至于应该如何嵌套，除了查文档：
                        </p>
                        <ul>
                            <li>
                                一是按语义理解，比如body是正文，title是页面标题，所以页面正文中就不应该有页面标题。
                            </li>
                            <li>
                                二是看VS提示，如果违反了HTML语法标准，VS会有波浪线提示：<br>
                                <img title="" class="img-responsive" alt="" src="http://17bang.ren/Images/Summary/2020/2/25/1/VS-Html错误提示.png" data-original-title="" zyf-img="">
                            </li>
                        </ul>
                        <h4>
                            <br>
                        </h4>
                        <h4>
                            层级结构
                        </h4>
                        <p>
                            有了嵌套，元素和元素之间就会形成层级关系：
                        </p>
                        <ul>
                            <li>
                                <span></span>祖先：包含父元素的元素，以及一直往上的所有父元素
                            </li>
                            <li>
                                父：直接包含自己的元素
                            </li>
                            <li>
                                自己：
                            </li>
                            <li>
                                兄弟：父元素下除自己以外的其他元素<br>
                            </li>
                            <li>
                                子：自己的直接包含的元素
                            </li>
                            <li>
                                后代：子元素包含的元素，以及一直往下的所有子元素
                            </li>
                        </ul>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                        <h3>
                            head元素<br>
                        </h3>
                        <p>
                            head中的内容通常用于
                        </p>
                        <h4>
                            浏览器
                        </h4>
<pre class="prettyprint lang-html prettyprinted"><span class="tag">&lt;head&gt;</span><span class="pln">
    </span><span class="com">&lt;!-- 编码格式utf-8 --&gt;</span><span class="pln">
    </span><span class="tag">&lt;meta</span><span class="pln"> </span><span class="atn">charset</span><span class="pun">=</span><span class="atv">"utf-8"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
    </span><span class="com">&lt;!-- tab上标题 --&gt;</span><span class="pln">
    </span><span class="tag">&lt;title&gt;</span><span class="pln">首页·一起帮</span><span class="tag">&lt;/title&gt;</span><span class="pln">
    </span><span class="com">&lt;!-- tab上图标 --&gt;</span><span class="pln">
    </span><span class="tag">&lt;link</span><span class="pln"> 
         </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"shortcut icon"</span><span class="pln"> 
                 </span><span class="atn">type</span><span class="pun">=</span><span class="atv">"image/ico"</span><span class="pln"> 
                        </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"/Images/logo.ico"</span><span class="pln"> 
                               </span><span class="atn">media</span><span class="pun">=</span><span class="atv">"screen"</span><span class="pln">
                                      </span><span class="tag">/&gt;</span><span class="pln">
</span><span class="tag">&lt;/head&gt;</span></pre>
                        <br>
                        <p>
                            <br>
                        </p>
                        <p>
                            <br>
                        </p>
                        <h4>
                            <a href="http://17bang.ren/Article/658" target="_blank">SEO</a>
                        </h4>
                        <p>
                            <span></span>
                        </p>
                        <p>
                            我们先学些head中一些常用标签：
                        </p>
<pre class="prettyprint lang-html prettyprinted"><span class="tag">&lt;head&gt;</span><span class="pln">
    </span><span class="com">&lt;!-- SEO用的描述和关键字 --&gt;</span><span class="pln">
    </span><span class="tag">&lt;meta</span><span class="pln"> </span><span class="atn">name</span><span class="pun">=</span><span class="atv">"description"</span><span class="pln"> </span><span class="atn">content</span><span class="pun">=</span><span class="atv">"大神自由飞的原创首发精品文章，菜鸟入门编程开发必看，还包括求职入职、代码规范、项目管理、系统架构等一系列程序猿关心的问题……"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
    </span><span class="tag">&lt;meta</span><span class="pln"> </span><span class="atn">name</span><span class="pun">=</span><span class="atv">"keywords"</span><span class="pln"> </span><span class="atn">content</span><span class="pun">=</span><span class="atv">"源栈 一起帮 自由飞"</span><span class="pln"> </span><span class="tag">/&gt;</span><span class="pln">
    </span><span class="com">&lt;!-- tab上标题 --&gt;</span><span class="pln">
    </span><span class="tag">&lt;title&gt;</span><span class="pln">首页·一起帮</span><span class="tag">&lt;/title&gt;</span><span class="pln">
</span><span class="tag">&lt;/head&gt;</span></pre>
                        <p>
                            <em>（演示：略）</em>
                        </p>
                        <p>
                            <span></span>
                        </p>
                        <h3>
                            <span></span><br>
                        </h3>
                        <h3>
                            作业
                        </h3>
                        <ol>
                            <li>
                                安装Visual Studio，建议英语语言包
                            </li>
                            <li>
                                在Visual Studio上新建一个项目和一个网页，能够显示：Hello，源栈！
                            </li>
                            <li>
                                熟记每日单词<br>
                            </li>
                            <li>
                                为课程准备面试题目
                            </li>
                        </ol>
                        <p>
                            <br>
                        </p>
                    </div>
                    <div class="clearfix" style="padding-top:10px;">
                        <div>
                            <label><span class="fa fa-tags"></span>  关键字：</label>
                            <span class="badge">VS</span>
                            <span class="badge">html</span>
                            <span class="badge">入门</span>
                        </div>
                        <div class="article-appraise appraise-status pull-right">
                            <a class="appraise-status-item text-success" href="/Article/Appraise?id=702&amp;direction=1" data-author-id="1" zyf-vote="">
                                <span class="fa fa-thumbs-o-up"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">赞：</span>
                                <span zyf-votes-count="">61</span>
                            </a>
                            <a class="appraise-status-item text-muted" href="/Article/Appraise?id=702&amp;direction=-1" data-author-id="1" zyf-vote="">
                                <span class="fa fa-thumbs-o-down"></span>
                                <span class="visible-sm-inline visible-md-inline visible-lg-inline">踩：</span>
                                <span zyf-votes-count="">0</span>
                            </a>
                        </div>
                        <div style="padding-bottom:25px;" zyf-article-donate-container="">
                            <div style="clear:both;margin-left:auto;margin-right:auto;width:65px;height:65px;">
                                <div title="" class="yellow-highlight text-center" data-original-title="点击打赏" data-toggle="tooltip" data-author-id="1" data-article-id="702" zyf-article-donate-btn="">
                                    <span class="iconfont icon-money credit fa-2x"></span><br>打赏
                                </div>
                            </div>
                            <div class="article-donate">
                                <span class="fa fa-smile-o fa-2x text-success pull-left" style="display:table-cell;"></span>
                                <div style="display:table-cell;">
                                    <div>
                                        已收到打赏的
                                        <a title="" class="credit" href="/FAQ/Money" data-original-title="点击了解" data-toggle="tooltip">
                                            <span class="iconfont icon-money"></span> 帮帮币
                                        </a>
                                        ：
                                    </div>
                                    <div class="clearfix" zyf-problem-donors-container=""><small class="text-info">快来做第一个打赏的好心人吧，O(∩_∩)O~</small></div>
                                </div>
                                <hr>
                                <div class="text-muted" style="clear:both;">
                                    <span class="fa fa-info-circle"></span>
                                    你的 <span class="credit">打赏</span> 非常重要！<br>
                                    为了<a href="/FAQ/Article#grant">保证文章的质量</a>，每一篇文章的发布，都已经消耗了作者 1 枚
                                    <a title="" class="credit" href="/FAQ/Money" data-original-title="点击了解" data-toggle="tooltip">
                                        <span class="iconfont icon-money"></span> 帮帮币
                                    </a>
                                    。<br>
                                    没有“帮帮币”，作者无法发布新的文章。
                                </div>
                            </div>
                        </div>

                        <div style="clear:both;">
                            <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1606744372604">
                                <a class="bds_more" href="#" data-cmd="more"></a><a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
                                <a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
                                <a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
                                <a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
                                <a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:20px;">
                        <div class="yellow-highlight" style="padding:5px 10px;">
                            <a title="" style="color:#354756" href="/FAQ/Ad#article" data-original-title="这是什么？" data-toggle="tooltip">投稿人推广：</a> <a href="http://17bang.ren/Article/261">学编程，来 “源栈”！飞哥精品小班等着你……</a>
                        </div>
                    </div>
                    <a name="new-comment"></a>
                    <div style="padding-top:20px;">
                        <div class="hide yellow-highlight need-login" zyf-not-logon="">
                            <span class="fa fa-exclamation-triangle" style="color:yellowgreen;"></span>
                            你还没有登录，不能进行相关操作。请<a href="/Log/On?prepage=%2fArticle%2f702">登录</a>或<a href="/Register/Home?prepage=%2fArticle%2f702">注册</a>。
                            （<a class="small" href="/Shared/_JoinUs" zyf-why-joinus=""><span class="fa fa-question-circle"></span> 为什么要加入我们</a>）
                        </div>
                        <div zyf-logon="">
                            <h4>
                                <span class="fa fa-send"></span> <label>我有话说：</label>
                            </h4>
                            <script src="/Scripts/kindeditor-v4.1/kindeditor.js"></script>
                            <script src="/Scripts/kindeditor-v4.1/lang/zh_CN.js"></script>
                            <script src="/Scripts/kindeditor.help.js"></script>
                            <form action="/Article/702" method="post" novalidate="novalidate">
                                <div zyf-comment-reply-reminder=""></div>
                                <input name="CommentBody.ReplyId" id="CommentBody_ReplyId" type="hidden" value="" zyf-comment-reply-id="" data-val-number="字段 ReplyId 必须是一个数字。" data-val="true"><span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="CommentBody.ReplyId"></span>    <div class="form-group">
                                    <div class="ke-container ke-container-default" style="width: 100%;"><div class="ke-toolbar" style="display:block;" unselectable="on"><span title="HTML代码" class="ke-outline" unselectable="on" data-name="source"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-source" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span title="段落" class="ke-outline" unselectable="on" data-name="formatblock"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-formatblock" unselectable="on"></span></span><span title="文字大小" class="ke-outline" unselectable="on" data-name="fontsize"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fontsize" unselectable="on"></span></span><span title="粗体(Ctrl+B)" class="ke-outline" unselectable="on" data-name="bold"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-bold" unselectable="on"></span></span><span title="斜体(Ctrl+I)" class="ke-outline" unselectable="on" data-name="italic"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-italic" unselectable="on"></span></span><span title="下划线(Ctrl+U)" class="ke-outline" unselectable="on" data-name="underline"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-underline" unselectable="on"></span></span><span title="删除线" class="ke-outline" unselectable="on" data-name="strikethrough"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-strikethrough" unselectable="on"></span></span><span title="删除格式" class="ke-outline" unselectable="on" data-name="removeformat"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-removeformat" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span title="表格" class="ke-outline" unselectable="on" data-name="table"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-table" unselectable="on"></span></span><span title="编号" class="ke-outline" unselectable="on" data-name="insertorderedlist"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertorderedlist" unselectable="on"></span></span><span title="项目符号" class="ke-outline" unselectable="on" data-name="insertunorderedlist"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-insertunorderedlist" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span title="超级链接" class="ke-outline" unselectable="on" data-name="link"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-link" unselectable="on"></span></span><span title="取消超级链接" class="ke-outline" unselectable="on" data-name="unlink"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-unlink" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span title="插入程序代码" class="ke-outline" unselectable="on" data-name="code"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-code" unselectable="on"></span></span><span title="插入引用" class="ke-outline" unselectable="on" data-name="quote"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-quote" unselectable="on"></span></span><span title="图片" class="ke-outline" unselectable="on" data-name="image"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-image" unselectable="on"></span></span><span class="ke-inline-block ke-separator"></span><span title="全屏显示(Esc)" class="ke-outline" unselectable="on" data-name="fullscreen"><span class="ke-toolbar-icon ke-toolbar-icon-url ke-icon-fullscreen" unselectable="on"></span></span></div><div class="ke-edit" style="height: 100px; display: block;"><iframe tabindex="-32768" class="ke-edit-iframe" frameborder="0" style="width: 100%; height: 100px;" hidefocus="true"></iframe><textarea tabindex="-32768" class="ke-edit-textarea" style="width: 100%; height: 100px; display: none;" hidefocus="true"></textarea></div><div class="ke-statusbar"><span class="ke-inline-block ke-statusbar-center-icon"></span><span class="ke-inline-block ke-statusbar-right-icon"></span></div></div><textarea name="CommentBody.Content" class="form-control" id="CommentBody_Content" style="display: none;" placeholder="精选评论有帮帮币奖励哟！O(∩_∩)O~" rows="4" cols="20" data-val="true" zyf-new-comment="" zyf-kindeditor="" data-val-required="* 正文不能为空"></textarea>
                                    <span class="field-validation-valid" data-valmsg-replace="true" data-valmsg-for="CommentBody.Content"></span>
                                </div>
                                <div class="submit" zyf-logon="">
                                    <input class="btn btn-primary" type="submit" value="提交" zyf-submit-once="" zyf-problem-comment-submit="">
                                    <input class="btn btn-default" type="reset" value="重置">
                                </div>

                                <div class="hide yellow-highlight need-login" zyf-not-logon="">
                                    <span class="fa fa-exclamation-triangle" style="color:yellowgreen;"></span>
                                    你还没有登录，不能进行相关操作。请<a href="/Log/On?prepage=%2fArticle%2f702">登录</a>或<a href="/Register/Home?prepage=%2fArticle%2f702">注册</a>。
                                    （<a class="small" href="/Shared/_JoinUs" zyf-why-joinus=""><span class="fa fa-question-circle"></span> 为什么要加入我们</a>）
                                </div>
                            </form>
                        </div>
                    </div>
                    <div style="margin-top: 25px;">
                        <div class="checkbox pull-left">
                            <label>
                                <input name="inCategory" id="inCategory" type="checkbox" value="true" zyf-nav-in-category=""><input name="inCategory" type="hidden" value="false">
                                在系列 <a href="/Article/Category-73"><span class="fa fa-folder"></span> HTML和CSS</a>
                                中的：
                            </label>
                        </div>
                        <a class="btn btn-default btn-sm pull-right" href="/Article/Category-73?fulltext=1&amp;articleId=702">
                            <span class="iconfont icon-pages"></span> 全系列阅读
                        </a>
                        <div style="clear:both; margin-bottom:20px; padding:10px 15px; border: 2px dashed #808080; border-radius:4px 5px;" zyf-article-nav-container="">
                            <div>
                                <span class="fa fa-arrow-up"></span>
                                上一篇：
                                <a href="/Article/701">Promise：回调地狱/then()/fulfiled/reject……</a>

                            </div>
                            <div style="margin-top:6px;">
                                <span class="fa fa-arrow-down"></span>
                                下一篇：
                                <a href="/Article/703">NoSql：Memcached：get/set/delete……</a>
                            </div>
                        </div>
                    </div>
                    <a name="comments"></a>
                    <div class="appraise-status" style="clear:both; margin-top: 15px;">
                        <span class="lead" style="margin-right:20px">
                            <span class="fa fa-comments-o"></span>
                            <span class="visible-sm-inline visible-md-inline visible-lg-inline">评论</span><small>
                                （ <span title="" data-original-title="精选评论" data-toggle="tooltip" zyf-comment-of-article-count="">0</span> / <span title="" data-original-title="全部评论" data-toggle="tooltip">0</span> ）
                            </small>
                        </span>
                    </div>
                    <div zyf-comment-of-article="">
                        <div id="published_comment"></div>
                        <div zyf-comments-container="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="widget clearfix" zyf-widget-content="">
                    <h4>
                        <span class="fa fa-folder text-primary"></span>
                        <a href="/Article/Category-71">前端基础</a>
                    </h4>
                    <hr>
                    <div style="margin-bottom:10px; padding-left: 40px;">
                        <h4>
                            <span class="fa fa-folder text-primary"></span>
                            <a href="/Article/Category-73">HTML和CSS</a>
                        </h4>
                        <p>
                            HTML最常用的标签和属性，含HTML5的语义标签和新属性，但不包含需要JavaScript操作的HTML5 API，以及CSS基础（简述CSS 3动画相关），以及bootstrap.js以外的Bootstrap的内容。
                        </p>
                    </div>
                    <div style="margin-bottom:10px; padding-left: 40px;">
                        <h4>
                            <span class="fa fa-folder text-primary"></span>
                            <a href="/Article/Category-74">Javascript基础和JQuery</a>
                        </h4>
                        <p>
                            Javascript的基本语法，JQuery类库（含Ajax），以及Bootstrap的JavaScript组件部分
                        </p>
                    </div>
                    <div style="margin-bottom:10px; padding-left: 40px;">
                        <h4>
                            <span class="fa fa-folder text-primary"></span>
                            <a href="/Article/Category-84">进阶和ES6</a>
                        </h4>
                        <p>
                            借助于ES6，讲解JavaScript中一些更复杂的语法特性，如作用域、闭包、面向对象、原型链、this变化、module等
                        </p>
                    </div>
                    <a class="btn pull-right" href="/Article"><span class="fa fa-hand-o-right"></span> 全部</a>
                </div>
                <div class=" card" style="border-width:1px;border-style:dashed">
                    <div class=" card-body">
                        <div style="font-size:24px">
                            <span class="fa fa-tags "></span>
                            关键字
                        </div>
                        <hr>
                        <div class="user-tags">
                            <a href="/Problem?keyword=163" data-toggle="tooltip" data-placement="top" title="已使用242次"
                               zyf-keyword-widget-id="163">
                                <span class="badge badge-pill badge-dark" style="font-size:21px; background-color:rgba(51, 51, 51, 0.96875)">
                                    编程开发语言
                                </span>
                            </a>
                            <a href="/Problem?keyword=169" data-toggle="tooltip" data-placement="top" title="已使用97次"
                               zyf-keyword-widget-id="169">
                                <span class="badge badge-pill badge-dark" style="font-size:20.5px; background-color:rgba(51, 51, 51, 0.9375)">
                                    C#
                                </span>
                            </a>
                            <a href="/Problem?keyword=170" data-toggle="tooltip" data-placement="top" title="已使用71次"
                               zyf-keyword-widget-id="170">
                                <span class="badge badge-pill badge-dark" style="font-size:20px; background-color:rgba(51, 51, 51, 0.90625)">
                                    JAVA
                                </span>
                            </a>
                            <a title="" href="/Problem?keyword=162" data-original-title="已使用68次" data-toggle="tooltip" zyf-keyword-widget-id="162">
                                <span class="badge badge-pill badge-dark" style="font-size:19.5px; background-color:rgba(51, 51, 51, 0.875)">
                                    工具软件
                                </span>
                            </a>
                            <a href="/Problem?keyword=171" data-toggle="tooltip" data-placement="top" title="已使用55次"
                               zyf-keyword-widget-id="171">
                                <span class="badge badge-pill badge-dark" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84375)">
                                    Javascript
                                </span>
                            </a>
                            <a href="/Problem?keyword=164" data-original-title="已使用55次" data-toggle="tooltip"
                               zyf-keyword-widget-id="164">
                                <span class="badge badge-pill badge-dark" style="font-size:18.5px; background-color:rgba(51, 51, 51, 0.8125)">
                                    顾问咨询
                                </span>
                            </a>
                            <a href="/Problem?keyword=199" data-toggle="tooltip" data-placement="top" title="已使用32次"
                               zyf-keyword-widget-id="199">
                                <span class="badge badge-pill badge-dark" style="font-size:18px; background-color:rgba(51, 51, 51, 0.78125)">
                                    html
                                </span>
                            </a>
                            <a href="/Problem?keyword=182" data-toggle="tooltip" data-placement="top" title="已使用25次"
                               zyf-keyword-widget-id="182">
                                <span class="badge badge-pill badge-dark" style="font-size:17.5px; background-color:rgba(51, 51, 51, 0.75)">
                                    VisualStudio
                                </span>
                            </a>
                            <a href="/Problem?keyword=161" data-toggle="tooltip" data-placement="top" title="已使用24次"
                               zyf-keyword-widget-id="161">
                                <span class="badge badge-pill badge-dark" style="font-size:17px; background-color:rgba(51, 51, 51, 0.71875)">
                                    操作系统
                                </span>
                            </a>
                            <a href="/Problem?keyword=184" data-toggle="tooltip" data-placement="top" title="已使用19次"
                               zyf-keyword-widget-id="184">
                                <span class="badge badge-pill badge-dark" style="font-size:16.5px; background-color:rgba(51, 51, 51, 0.6875)">
                                    职场
                                </span>
                            </a>
                            <a href="/Problem?keyword=174" data-toggle="tooltip" data-placement="top" title="已使用18次"
                               zyf-keyword-widget-id="174">
                                <span class="badge badge-pill badge-dark" style="font-size:16px; background-color:rgba(51, 51, 51, 0.65625)">
                                    SQL
                                </span>
                            </a>
                            <a href="/Problem?keyword=188" data-toggle="tooltip" data-placement="top" title="已使用18次"
                               zyf-keyword-widget-id="188">
                                <span class="badge badge-pill badge-dark" style="font-size:15.5px; background-color:rgba(51, 51, 51, 0.625)">
                                    法律
                                </span>
                            </a>
                            <a href="/Problem?keyword=173" data-toggle="tooltip" data-placement="top" title="已使用18次"
                               zyf-keyword-widget-id="173">
                                <span class="badge badge-pill badge-dark" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59375)">
                                    Python
                                </span>
                            </a>
                            <a href="/Problem?keyword=89" data-toggle="tooltip" data-placement="top" title="已使用14次"
                               zyf-keyword-widget-id="89">
                                <span class="badge badge-pill badge-dark" style="font-size:14.5px; background-color:rgba(51, 51, 51, 0.5625)">
                                    .net
                                </span>
                            </a>
                            <a href="/Problem?keyword=200" data-toggle="tooltip" data-placement="top" title="已使用13次"
                               zyf-keyword-widget-id="200">
                                <span class="badge badge-pill badge-dark" style="font-size:14px; background-color:rgba(51, 51, 51, 0.53125)">
                                    CSS
                                </span>
                            </a>
                            <a href="/Problem?keyword=167" data-toggle="tooltip" data-placement="top" title="已使用12次"
                               zyf-keyword-widget-id="167">
                                <span class="badge badge-pill badge-dark" style="font-size:13.5px; background-color:rgba(51, 51, 51, 0.5)">
                                    Linux
                                </span>
                            </a>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="直接输入关键字查找" />
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-light">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <button type="button" class="btn btn-light">
                                        <span class="fa fa-random" style="font-size:10px">换一批</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:30px">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                <span class="fa fa-eye"></span> 每日督促
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                <span class="fa fa-heart"></span> 排行榜
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                                <span class="fa fa-user-circle-o"></span> 新注册
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                             style="padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed">
                            <table class="table table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col" colspan="2">
                                            <span class="fa fa-calendar-check-o fa-fw"></span>2020年9月1日
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">共扫描目标：</th>
                                        <td>
                                            <span class="fa fa-flag-o fa-fw"></span>一个
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">当天休息：</th>
                                        <td>
                                            <span class="fa fa-ban fa-fw "></span>0人
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">已交作业：</th>
                                        <td>
                                            <span class="fa fa-check fa-fw"></span>0份
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">请假：</th>
                                        <td>
                                            <span class="fa fa-coffee fa-fw"></span>0人
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">未交作业：</th>
                                        <td>
                                            <span class="fa fa-remove fa-fw"></span>0人
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"
                             style="padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td style="width: 40px;"><span class="badge badge-dark">1</span></td>
                                        <td>
                                            <span type="" data-toggle="popover" data-placement="top" data-content="捐赠 5" data-container="body">
                                                <a style="color:#DCB962" href="/User/1" zyf-show-contact="1">
                                                    叶飞
                                                </a>
                                            </span>
                                            <a type="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-content="大宗师" data-toggle="popover"
                                               data-placement="top" data-container="body">
                                                <span>⑩</span>
                                            </a>
                                        </td>
                                        <td>290</td>
                                    </tr>
                                    <tr zyf-user-most-order="2">
                                        <td style="width: 40px;"><span class="order-tag item-2">2</span></td>
                                        <td>
                                            <span data-toggle="popover" data-placement="top" data-content="" data-container="body" type="">
                                                <a href="/User/4516" zyf-show-contact="4516">
                                                    seejoy
                                                </a>
                                            </span>
                                            <a type="" data-container="body" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-content="初级学徒" data-toggle="popover">
                                                <span>①</span>
                                            </a>
                                        </td>
                                        <td>30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"
                             style="padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed">
                            <div class="tab-pane active" id="register" role="tabpanel">
                                <div style="margin-bottom:10px;">
                                    <small class="text-muted" zyf-datetime="">
                                        <span>
                                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月30日 17点15分</span>
                                        </span>
                                    </small>
                                    <div>
                                        <span title="" data-toggle="tooltip">
                                            <a href="/User/4517" zyf-show-contact="4517">
                                                鲍勃
                                            </a>
                                        </span>
                                        <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                            <span>①</span>
                                        </a>
                                    </div>
                                </div>
                                <div style="margin-bottom:10px;">
                                    <small class="text-muted" zyf-datetime="">
                                        <span>
                                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月24日 16点39分</span>
                                        </span>
                                    </small>
                                    <div>
                                        <span title="" data-toggle="tooltip">
                                            <a href="/User/4516" zyf-show-contact="4516">
                                                seejoy
                                            </a>
                                        </span>
                                        <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                            <span>①</span>
                                        </a>
                                    </div>
                                </div>
                                <div style="margin-bottom:10px;">
                                    <small class="text-muted" zyf-datetime="">
                                        <span>
                                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月22日 13点34分</span>
                                        </span>
                                    </small>
                                    <div>
                                        <span title="" data-toggle="tooltip">
                                            <a href="/User/4515" zyf-show-contact="4515">
                                                witbunny
                                            </a>
                                        </span>
                                        <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                            <span>①</span>
                                        </a>
                                    </div>
                                </div>
                                <div style="margin-bottom:10px;">
                                    <small class="text-muted" zyf-datetime="">
                                        <span>
                                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月21日 09点54分</span>
                                        </span>
                                    </small>
                                    <div>
                                        <span title="" data-toggle="tooltip">
                                            <a href="/User/4514" zyf-show-contact="4514">
                                                asd3887588
                                            </a>
                                        </span>
                                        <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                            <span>①</span>
                                        </a>
                                    </div>
                                </div>
                                <div style="margin-bottom:10px;">
                                    <small class="text-muted" zyf-datetime="">
                                        <span>
                                            <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月18日 22点14分</span>
                                        </span>
                                    </small>
                                    <div>
                                        <span title="" data-toggle="tooltip">
                                            <a href="/User/4513" zyf-show-contact="4513">
                                                刘图像
                                            </a>
                                        </span>
                                        <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                            <span>①</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <a class="btn pull-right" href="/User/Index"><span class="fa fa-hand-o-right"></span> 更多</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="margin-top:20px; padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed; border-top:1px dashed ">
                    <nav class="nav flex-column">
                        <a class="nav-link active" href="http://17bang.ren/Article/261">
                            <span class="badge badge-dark">1</span>
                            学编程,来 “源栈”！飞哥精品小班等着你……
                        </a>
                        <a class="nav-link" href="/AdInWidget/_Free?position=2">
                            <span class="badge badge-dark">2</span>
                            免费广告位，抢到就是赚到！
                        </a>
                        <a class="nav-link" href="/AdInWidget/_Free?position=3">
                            <span class="badge badge-dark">3</span>
                            免费广告位，抢到就是赚到！
                        </a>
                        <a class="nav-link" href="/AdInWidget/_Free?position=4">
                            <span class="badge badge-dark">4</span>
                            免费广告位，抢到就是赚到！
                        </a>
                        <a class="nav-link" href="/AdInWidget/_Free?position=5">
                            <span class="badge badge-dark">5</span>
                            免费广告位，抢到就是赚到！
                        </a>
                        <a class="nav-link" href="http://www.west.cn/index.asp?ReferenceID=563969">
                            <span class="badge badge-dark">6</span> 本站主机由
                            西部数码提供
                        </a>
                        <a class="nav-link" href="#">
                            <small zyf-ad-in-widget-remind="" style="padding-left:150px">
                                <span class="fa fa-buysellads"></span> 广告
                                <span data-toggle="popover" data-placement="top" data-content="" data-container="body" type="">，你也可以发布哟！</span>
                            </small>
                        </a>
                    </nav>
                </div>
            </div>
            <div tabindex="-1" class="modal fade" id="contact" role="dialog" zyf-global-modal="">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <span zyf-global-modal-footer-placeholder=""></span>
                            <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
            <style type="text/css">
                h2 {
                    position: relative;
                }

                    h2 > small {
                        position: absolute;
                        right: 0px;
                        bottom: 10px;
                    }

                li {
                    margin-top: 5px;
                }
            </style>


            @*<link href="/Scripts/kindeditor-v4.1/plugins/prettifier/prettify.css" rel="stylesheet  />*@
        </div>
    </div>
</body>
</html>
