

<div class="col-md-4 offset-1">
    <div class=" card" style="border-width:1px;border-style:dashed">
        <div class=" card-body">
            <div style="font-size:24px">
                <span class="fa fa-tags "></span>
                关键字
            </div>
            <hr>
            <div class="user-tags">
                <a href="/Problem?keyword=163" data-toggle="tooltip" data-placement="top" title="已使用242次"
                   zyf-keyword-widget-id="163">
                    <span class="badge badge-pill badge-dark" style="font-size:21px; background-color:rgba(51, 51, 51, 0.96875)">
                        编程开发语言
                    </span>
                </a>
                <a href="/Problem?keyword=169" data-toggle="tooltip" data-placement="top" title="已使用97次"
                   zyf-keyword-widget-id="169">
                    <span class="badge badge-pill badge-dark" style="font-size:20.5px; background-color:rgba(51, 51, 51, 0.9375)">
                        C#
                    </span>
                </a>
                <a href="/Problem?keyword=170" data-toggle="tooltip" data-placement="top" title="已使用71次"
                   zyf-keyword-widget-id="170">
                    <span class="badge badge-pill badge-dark" style="font-size:20px; background-color:rgba(51, 51, 51, 0.90625)">
                        JAVA
                    </span>
                </a>
                <a title="" href="/Problem?keyword=162" data-original-title="已使用68次" data-toggle="tooltip" zyf-keyword-widget-id="162">
                    <span class="badge badge-pill badge-dark" style="font-size:19.5px; background-color:rgba(51, 51, 51, 0.875)">
                        工具软件
                    </span>
                </a>
                <a href="/Problem?keyword=171" data-toggle="tooltip" data-placement="top" title="已使用55次"
                   zyf-keyword-widget-id="171">
                    <span class="badge badge-pill badge-dark" style="font-size:19px; background-color:rgba(51, 51, 51, 0.84375)">
                        Javascript
                    </span>
                </a>
                <a href="/Problem?keyword=164" data-original-title="已使用55次" data-toggle="tooltip"
                   zyf-keyword-widget-id="164">
                    <span class="badge badge-pill badge-dark" style="font-size:18.5px; background-color:rgba(51, 51, 51, 0.8125)">
                        顾问咨询
                    </span>
                </a>
                <a href="/Problem?keyword=199" data-toggle="tooltip" data-placement="top" title="已使用32次"
                   zyf-keyword-widget-id="199">
                    <span class="badge badge-pill badge-dark" style="font-size:18px; background-color:rgba(51, 51, 51, 0.78125)">
                        html
                    </span>
                </a>
                <a href="/Problem?keyword=182" data-toggle="tooltip" data-placement="top" title="已使用25次"
                   zyf-keyword-widget-id="182">
                    <span class="badge badge-pill badge-dark" style="font-size:17.5px; background-color:rgba(51, 51, 51, 0.75)">
                        VisualStudio
                    </span>
                </a>
                <a href="/Problem?keyword=161" data-toggle="tooltip" data-placement="top" title="已使用24次"
                   zyf-keyword-widget-id="161">
                    <span class="badge badge-pill badge-dark" style="font-size:17px; background-color:rgba(51, 51, 51, 0.71875)">
                        操作系统
                    </span>
                </a>
                <a href="/Problem?keyword=184" data-toggle="tooltip" data-placement="top" title="已使用19次"
                   zyf-keyword-widget-id="184">
                    <span class="badge badge-pill badge-dark" style="font-size:16.5px; background-color:rgba(51, 51, 51, 0.6875)">
                        职场
                    </span>
                </a>
                <a href="/Problem?keyword=174" data-toggle="tooltip" data-placement="top" title="已使用18次"
                   zyf-keyword-widget-id="174">
                    <span class="badge badge-pill badge-dark" style="font-size:16px; background-color:rgba(51, 51, 51, 0.65625)">
                        SQL
                    </span>
                </a>
                <a href="/Problem?keyword=188" data-toggle="tooltip" data-placement="top" title="已使用18次"
                   zyf-keyword-widget-id="188">
                    <span class="badge badge-pill badge-dark" style="font-size:15.5px; background-color:rgba(51, 51, 51, 0.625)">
                        法律
                    </span>
                </a>
                <a href="/Problem?keyword=173" data-toggle="tooltip" data-placement="top" title="已使用18次"
                   zyf-keyword-widget-id="173">
                    <span class="badge badge-pill badge-dark" style="font-size:15px; background-color:rgba(51, 51, 51, 0.59375)">
                        Python
                    </span>
                </a>
                <a href="/Problem?keyword=89" data-toggle="tooltip" data-placement="top" title="已使用14次"
                   zyf-keyword-widget-id="89">
                    <span class="badge badge-pill badge-dark" style="font-size:14.5px; background-color:rgba(51, 51, 51, 0.5625)">
                        .net
                    </span>
                </a>
                <a href="/Problem?keyword=200" data-toggle="tooltip" data-placement="top" title="已使用13次"
                   zyf-keyword-widget-id="200">
                    <span class="badge badge-pill badge-dark" style="font-size:14px; background-color:rgba(51, 51, 51, 0.53125)">
                        CSS
                    </span>
                </a>
                <a href="/Problem?keyword=167" data-toggle="tooltip" data-placement="top" title="已使用12次"
                   zyf-keyword-widget-id="167">
                    <span class="badge badge-pill badge-dark" style="font-size:13.5px; background-color:rgba(51, 51, 51, 0.5)">
                        Linux
                    </span>
                </a>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="直接输入关键字查找" />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-light">
                                <span class="fa fa-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <button type="button" class="btn btn-light">
                            <span class="fa fa-random" style="font-size:10px">换一批</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:30px">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                    <span class="fa fa-eye"></span> 每日督促
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                    <span class="fa fa-heart"></span> 排行榜
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                    <span class="fa fa-user-circle-o"></span> 新注册
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"
                 style="padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" colspan="2">
                                <span class="fa fa-calendar-check-o fa-fw"></span>2020年9月1日
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">共扫描目标：</th>
                            <td>
                                <span class="fa fa-flag-o fa-fw"></span>一个
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">当天休息：</th>
                            <td>
                                <span class="fa fa-ban fa-fw "></span>0人
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">已交作业：</th>
                            <td>
                                <span class="fa fa-check fa-fw"></span>0份
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">请假：</th>
                            <td>
                                <span class="fa fa-coffee fa-fw"></span>0人
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">未交作业：</th>
                            <td>
                                <span class="fa fa-remove fa-fw"></span>0人
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"
                 style="padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td style="width: 40px;"><span class="badge badge-dark">1</span></td>
                            <td>
                                <span type="" data-toggle="popover" data-placement="top" data-content="捐赠 5" data-container="body">
                                    <a style="color:#DCB962" href="/User/1" zyf-show-contact="1">
                                        叶飞
                                    </a>
                                </span>
                                <a type="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-content="大宗师" data-toggle="popover"
                                   data-placement="top" data-container="body">
                                    <span>⑩</span>
                                </a>
                            </td>
                            <td>290</td>
                        </tr>
                        <tr zyf-user-most-order="2">
                            <td style="width: 40px;"><span class="order-tag item-2">2</span></td>
                            <td>
                                <span data-toggle="popover" data-placement="top" data-content="" data-container="body" type="">
                                    <a href="/User/4516" zyf-show-contact="4516">
                                        seejoy
                                    </a>
                                </span>
                                <a type="" data-container="body" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-content="初级学徒" data-toggle="popover">
                                    <span>①</span>
                                </a>
                            </td>
                            <td>30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab"
                 style="padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed">
                <div class="tab-pane active" id="register" role="tabpanel">
                    <div style="margin-bottom:10px;">
                        <small class="text-muted" zyf-datetime="">
                            <span>
                                <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月30日 17点15分</span>
                            </span>
                        </small>
                        <div>
                            <span title="" data-toggle="tooltip">
                                <a href="/User/4517" zyf-show-contact="4517">
                                    鲍勃
                                </a>
                            </span>
                            <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                <span>①</span>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <small class="text-muted" zyf-datetime="">
                            <span>
                                <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月24日 16点39分</span>
                            </span>
                        </small>
                        <div>
                            <span title="" data-toggle="tooltip">
                                <a href="/User/4516" zyf-show-contact="4516">
                                    seejoy
                                </a>
                            </span>
                            <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                <span>①</span>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <small class="text-muted" zyf-datetime="">
                            <span>
                                <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月22日 13点34分</span>
                            </span>
                        </small>
                        <div>
                            <span title="" data-toggle="tooltip">
                                <a href="/User/4515" zyf-show-contact="4515">
                                    witbunny
                                </a>
                            </span>
                            <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                <span>①</span>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <small class="text-muted" zyf-datetime="">
                            <span>
                                <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月21日 09点54分</span>
                            </span>
                        </small>
                        <div>
                            <span title="" data-toggle="tooltip">
                                <a href="/User/4514" zyf-show-contact="4514">
                                    asd3887588
                                </a>
                            </span>
                            <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                <span>①</span>
                            </a>
                        </div>
                    </div>
                    <div style="margin-bottom:10px;">
                        <small class="text-muted" zyf-datetime="">
                            <span>
                                <span class="fa fa-calendar"></span> <span zyf-can-hide=""> 2020年11月18日 22点14分</span>
                            </span>
                        </small>
                        <div>
                            <span title="" data-toggle="tooltip">
                                <a href="/User/4513" zyf-show-contact="4513">
                                    刘图像
                                </a>
                            </span>
                            <a title="初级学徒" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-toggle="tooltip">
                                <span>①</span>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix">
                        <a class="btn pull-right" href="/User/Index"><span class="fa fa-hand-o-right"></span> 更多</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top:20px; padding-top:15px;border-bottom:1px dashed;border-left:1px dashed;border-right:1px dashed; border-top:1px dashed ">
        <nav class="nav flex-column">
            <a class="nav-link active" href="http://17bang.ren/Article/261">
                <span class="badge badge-dark">1</span>
                学编程,来 “源栈”！飞哥精品小班等着你……
            </a>
            <a class="nav-link" href="/AdInWidget/_Free?position=2">
                <span class="badge badge-dark">2</span>
                免费广告位，抢到就是赚到！
            </a>
            <a class="nav-link" href="/AdInWidget/_Free?position=3">
                <span class="badge badge-dark">3</span>
                免费广告位，抢到就是赚到！
            </a>
            <a class="nav-link" href="/AdInWidget/_Free?position=4">
                <span class="badge badge-dark">4</span>
                免费广告位，抢到就是赚到！
            </a>
            <a class="nav-link" href="/AdInWidget/_Free?position=5">
                <span class="badge badge-dark">5</span>
                免费广告位，抢到就是赚到！
            </a>
            <a class="nav-link" href="http://www.west.cn/index.asp?ReferenceID=563969">
                <span class="badge badge-dark">6</span> 本站主机由
                西部数码提供
            </a>
            <a class="nav-link" href="#">
                <small zyf-ad-in-widget-remind="" style="padding-left:150px">
                    <span class="fa fa-buysellads"></span> 广告
                    <span data-toggle="popover" data-placement="top" data-content="" data-container="body" type="">，你也可以发布哟！</span>
                </small>
            </a>
        </nav>
    </div>
</div>
