
<div class="container">
    <div class="widget yellow-highlight" yqbang-newbie-reminder="">
        <h4><span class="fa fa-list"></span> 新手任务</h4>
        <p class="text-right" yqbang-newbie-tasks-done="">
            <span class="fa fa-thumbs-o-up text-success"></span> 全部完成！
            <a class="text-primary" href="#" yqbang-newbie-reminder-hide="">不再显示</a>
        </p>
        <hr>
        <p><span class="fa fa-check-square-o text-success fa-fw"></span> 填写：<a href="/Contact/New?prepage=%2fArticle%2fNew">联系方式</a></p>
        <p><span class="fa fa-check-square-o text-success fa-fw"></span> 激活：<a href="/Email/Activate?prepage=%2fArticle%2fNew">Email</a></p>
        <p><span class="fa fa-check-square-o text-success fa-fw"></span> 邀请：<a href="/Invite">我的小伙伴</a></p>
        <p><span class="fa fa-check-square-o text-success fa-fw"></span> 参加：<a href="/Exam/Newbie">新人测试</a></p>
        <p><span class="fa fa-check-square-o text-success fa-fw"></span> 发布：<a href="/Problem/New">第一个求助</a></p>
        <p><span class="fa fa-check-square-o text-success fa-fw"></span> 尝试：<a href="/Problem"> 第一次协助</a></p>
        <p>
            <span class="fa fa-check-square-o text-success fa-fw"></span> 获得：若干
            <a title="" class="credit" href="/FAQ/Money" data-original-title="点击了解" data-toggle="tooltip">
                <span class="iconfont icon-money"></span> 帮帮币
            </a>
        </p>
    </div>
    <a class="btn pull-right" href="/Profile/Write?prepage=%2fArticle%2fNew" zyf-profile-edit="">
        <span class="fa fa-pencil-square-o"></span>
        <span>修改</span>
    </a>
    <div class="img-responsive img-thumbnail" id="profile-no-picture">
        <span class="fa fa-picture-o" id="camera"></span>
        <div id="wait">
            等待上传中<span class="fa fa-hourglass-half"></span>...
        </div>
    </div>
    <div class="user-show">
        <div class="row">
            <div class="col-xs-12">
                <label>用户：</label>
                <span title="" data-original-title="捐赠 9.9" data-toggle="tooltip">
                    <a style="color:#DCB962" href="/User/7" zyf-show-contact="7">
                        DK
                    </a>
                </span>
                <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-original-title="大宗师" data-toggle="tooltip">
                    <span>⑩</span>
                </a>
                <a class="btn" href="/User/ChangeName" zyf-username-change="7"><span class="fa fa-pencil-square-o"></span> 修改</a>
            </div>
            <input type="hidden" value="7" zyf-profile-user-id="">
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>性别：</label>
                男
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label>生日：</label>
                1991 <span>年</span>
            </div>
        </div>
        <div>
            <label>关注：</label>
            <p>
                <span title="" class="badge" data-original-title="被使用过 1 次" data-toggle="tooltip">DF</span>
                <span title="" class="badge" data-original-title="被使用过 3 次" data-toggle="tooltip">工具软件</span>
                <span title="" class="badge" data-original-title="被使用过 1 次" data-toggle="tooltip">Excel</span>
                <span title="" class="badge" data-original-title="被使用过 1 次" data-toggle="tooltip">单位</span>
                <span title="" class="badge" data-original-title="被使用过 1 次" data-toggle="tooltip">C#</span>
                <span title="" class="badge" data-original-title="被使用过 8 次" data-toggle="tooltip">编程开发语言</span>
                <span title="" class="badge" data-original-title="被使用过 1 次" data-toggle="tooltip">Python</span>
                <span title="" class="badge" data-original-title="被使用过 4 次" data-toggle="tooltip">JAVA</span>
            </p>
        </div>
    </div>
</div>
