


<h3 class="text-info " style="margin-bottom :10px">
    <i class="fa fa-question-circle" aria-hidden="true" style="font-size :1.5rem"></i>
    说明
</h3>
<ol>
    <li><p>重置密码的邮件会发送到你填写的Email中。</p></li>
    <li><p>输入用户名之后，还要点击旁边的 <span class=" fa fa-search">按钮</span> ，以完成Email地址的填写。</p></li>
    <li><p>现目前，还没有针对未激活Email做特殊提示，请务必确保Email正确。</p></li>
</ol>
