@{
    ViewBag.Title = "首页·一起帮";
    Layout = "~/Views/Shared/Layout/_Dual.cshtml";
}

<div>
    <div class="container" style="margin-top:25px">
        <div class="row">
            <div class="col-md-7" id="chat-container">
                <div class="chats">
                    <div class="text-center" id="history-more">
                        <a href="">更多历史 <span class="fa fa-angle-double-up"></span></a>
                    </div>
                    <div>
                        <div class="clearfix chat-items-container">
                            <a class="btn btn-default btn-sm left" data-id="247">
                                <span>@@TA</span><br />
                                <span>回复</span>
                            </a>
                            <div class="chat-item" data-id="247">
                                <div class="small text-muted">
                                    <span>2020/8/6 14:19:14</span>
                                    <span title="" data-original-title="" data-toggle="tooltip">
                                        <a style="color:blue" href="/User/4465">
                                            EDWIN
                                        </a>
                                    </span>
                                    <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#"
                                       data-original-title="中级学徒" data-toggle="tooltip">
                                        <span>②</span>
                                    </a>
                                    <input type="hidden" value="4465" />
                                </div>
                                <div>
                                    <span> 加油哦</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix chat-items-container">
                            <a class="btn btn-default btn-sm left" data-id="248">
                                <span>@@TA</span><br />
                                <span>回复</span>
                            </a>
                            <div class="chat-item" data-id="248">
                                <div class="small text-muted">
                                    <span>2020/9/7 22:34:26</span>
                                    <span title="" data-original-title="" data-toggle="tooltip">
                                        <a style="color:blue" href="/User/4150">
                                            小屿
                                        </a>
                                    </span>
                                    <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#" data-original-title="中级学徒"
                                       data-toggle="tooltip">
                                        <span>②</span>
                                    </a>
                                    <input type="hidden" value="4150" />
                                </div>
                                <div>
                                    <span> 0</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix chat-items-container">
                            <a class="btn btn-default btn-sm left" data-id="249">
                                <span>@@TA</span><br />
                                <span>回复</span>
                            </a>
                            <div class="chat-item" data-id="249">
                                <div class="small text-muted">
                                    <span>2020/9/7 22:34:26</span>
                                    <span title="" data-original-title="" data-toggle="tooltip">
                                        <a style="color:blue" href="/User/4150">
                                            小屿
                                        </a>
                                    </span>
                                    <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#"
                                       data-original-title="中级学徒" data-toggle="tooltip">
                                        <span>②</span>
                                    </a>
                                    <input type="hidden" value="4150" />
                                </div>
                                <div>
                                    <span> 0</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix chat-items-container">
                            <a class="btn btn-default btn-sm left" data-id="250">
                                <span>@@TA</span><br />
                                <span>回复</span>
                            </a>
                            <div class="chat-item" data-id="250">
                                <div class="small text-muted">
                                    <span>2020/10/5 20:51:36</span>
                                    <span title="" data-original-title="" data-toggle="tooltip">
                                        <a style="color:blue" href="/User/4494">
                                            18296858155
                                        </a>
                                    </span>
                                    <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#"
                                       data-original-title="初级学徒" data-toggle="tooltip">
                                        <span>①</span>
                                    </a>
                                    <input type="hidden" value="4494" />
                                </div>
                                <div>
                                    <span> 这个网站是怎么用的啊</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix chat-items-container">
                            <a class="btn btn-default btn-sm left" data-id="251">
                                <span>@@TA</span><br />
                                <span>回复</span>
                            </a>
                            <div class="chat-item" data-id="251">
                                <div class="small text-muted">
                                    <span>2020/10/5 20:52:02</span>
                                    <span title="" data-original-title="" data-toggle="tooltip">
                                        <a style="color:blue" href="/User/4494">
                                            18296858155
                                        </a>
                                    </span>
                                    <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#"
                                       data-original-title="初级学徒" data-toggle="tooltip">
                                        <span>①</span>
                                    </a>
                                    <input type="hidden" value="4494" />
                                </div>
                                <div>
                                    <span> 有人吗？</span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix chat-items-container">
                            <a class="btn btn-default btn-sm left" data-id="256">
                                <span>@@TA</span><br />
                                <span>回复</span>
                            </a>
                            <div class="chat-item" data-id="256">
                                <div class="small text-muted">
                                    <span>2020/12/21 15:00:42</span>
                                    <span title="" data-original-title="捐赠 5" data-toggle="tooltip">
                                        <a style="color:#DCB962" href="/User/1">
                                            亡羊补牢
                                        </a>
                                    </span>
                                    <a title="" class="text-muted" style="position:relative; top:-1px;" href="/FAQ/Credit#"
                                       data-original-title="大宗师" data-toggle="tooltip">
                                        <span>⑩</span>
                                    </a>
                                    <input type="hidden" value="1" />
                                </div>
                                <div>
                                    <span> 学的心里发毛 一段一段的去理解 学到自闭 怀疑自己是不是很蠢 根本不适合学编程</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form id="message-sender">
                    <input name="reply" type="hidden" />
                    <div class="input-group">
                        <input class="form-control" aria-describedby="basic-addon2" type="text" placeholder="我来说两句">
                        <div class="input-group-append">
                            <span class="input-group-text">发送</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5">
                <div id="ad-chats" style=" position:fixed; top:150px;">
                    <h3>“源栈”Web开发培训班 <br> <span style="color:red"><span class="fa fa-fire"></span>火热</span> 招生中：</h3>
                    <p>线上：全程直播，<b>免费</b>收看</p>
                    <p>线下：<b>灵活</b>学制，拎包入住</p>
                    <p>有意向的同学，可以加QQ群：326801052</p>
                    <img title="QQ学习群：326801052" class="img-responsive center-block" src="/image/qq-group.png">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


