

<div page-introduction="">
    <h3 class="text-info" style="margin-bottom: 20px;"><span class="fa fa-question-circle "></span> 说明</h3>
    <ol class="page-introduction-ol">
        <li>因为联系方式会公开显示，我们不建议你填写电话号码，以免个人信息被泄露。</li>
        <li>所以我们推荐使用QQ/微信等网络通信方式。</li>
        <li>注意填写QQ作为联系方式时，不要忘了留下“添加好友”的验证条件</li>
    </ol>
</div>

