
@{
    ViewBag.Title = "Sale";
}

<div class=" container">
    <div class="container body-content">
        <div class="dualcolumns-container">
            <div class="page-header">
                <h2>
                    <span class="iconfont icon-pack"></span> 帮帮币装箱
                    <a class="btn" href="/Contact/Us"><span class="fa fa-envelope"></span> 联系我们</a>
                </h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="container" style="margin-bottom: 16px;">
                        <div class="row">
                            <a class="visible-sm visible-xs pull-right" show-introduction="">
                                <span class="fa fa-question-circle"></span><span style="margin-left:4px;">
                                    <text>注意事项</text>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="yellow-highlight" style="padding:10px; margin-bottom:20px;">
                        <p>
                            系统要求的最低出售门槛为： 50 枚
                        </p>
                        <p>
                            目前，你的
                            <a title="" class="credit" href="/FAQ/Money" data-original-title="点击了解" data-toggle="tooltip">
                                <span class="iconfont icon-money"></span> 帮帮币
                            </a>
                            ：
                        </p>
                        <table class="table" style="margin-bottom:0px;">
                            <tbody>
                                <tr>
                                    <th>结余：</th>
                                    <td>0 枚</td>
                                </tr>
                                <tr title="" data-original-title="可出售 = 结余 - 门槛" data-toggle="tooltip">
                                    <th>可出售：</th>
                                    <td><span zyf-current-available="">-50</span> 枚</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p><span class="fa fa-exclamation-triangle text-warning"></span> 对不起，你的可出售帮帮币数量不够……</p>
                    <p class="lead text-primary">继续努力吧，(ง •_•)ง,加油！</p>
                    <div tabindex="-1" class="modal fade" role="dialog" aria-labelledby="introductionLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" aria-label="Close" type="button" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" id="introductionLabel"></h4>
                                </div>
                                <div class="modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default" type="button" data-dismiss="modal">知道了</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


